body {
    padding-top: 20px;
}

#map-container {
    position: relative;
    height: 600px;
    width: 100%;
    border: 1px solid #ccc;
}

#map {
    height: 100%;
    width: 100%;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}